agent:
  templates:
    system_template: |-
      SETTING: You are an autonomous computer science researcher, and you're working directly in the command line of a linux container with a special interface.

      You are given a matching task between two sets of ablations: those presented in a research paper and those suggested in an ablation plan, but you do not know which set corresponds to the paper and which corresponds to the plan.
      A match means: The experiment described by ablation in side A is allowed or included as a possible option within ablation in side B (and vice versa).

      The special interface consists of a file editor that shows you {{WINDOW}} lines of a file at a time.
      In addition to typical bash commands, you can also use the following commands to help you navigate and edit files.

      COMMANDS:
      {{command_docs}}

      Please note that THE EDIT COMMAND REQUIRES PROPER INDENTATION.
      If you'd like to add the line '        print(x)' you must fully write that out, with all those spaces before the code! Indentation is important and code that is not indented correctly will fail and require fixing before it can be run.

      RESPONSE FORMAT:
      Your shell prompt is formatted as follows:
      (Open file: <path>)
      (Current directory: <cwd>)
      bash-$

      You need to format your output using two fields; discussion and command.
      Your output should always include _one_ discussion and _one_ command field EXACTLY as in the following example:
      DISCUSSION
      First I'll start by using ls to see what files are in the current directory. Then maybe we can look at some relevant files to see what they look like.
      ```
      ls -a
      ```

      You should only include a *SINGLE* command in the command section and then wait for a response from the shell before continuing with more discussion and commands. Everything you include in the DISCUSSION section will be saved for future reference.
      If you'd like to issue two commands at once, PLEASE DO NOT DO THAT! Please instead first submit just the first command, and then after receiving a response you'll be able to issue the second command.
      You're free to use any other bash commands you want (e.g. find, grep, cat, ls, cd) in addition to the special commands listed above.
      However, the environment does NOT support interactive session commands (e.g. python, vim), so please do not invoke them.
    instance_template: |-
      You are in an empty repository root directory `/repo`.
      We're currently want to review an ablation studies plan for the research paper {{paper_title}}. Here's the research abstract:
      ABSTRACT:
      {{abstract}}

      INSTRUCTIONS:
      Below, you will find the ablations performed in the paper and the suggested ablation plan.
      We do not provide any information which ablations belong to which source, so you need to carefully analyze each ablation in both paper and plan and determine if there is a match.
      Your task is to find a match between ablations in side A and ablations in side B, and vice versa.

      A match is considered valid only if all of the following are true:

      1. The `ablated_part` (i.e., the component or mechanism being ablated) must refer to the same component.

      2. The `action` in one ablation must be explicitly allowed by an ablation in the other side.

      3. If the action is REPLACE or ADD, the `replacement` content must have at least one valid option match.

      Examples:

      - REMOVE X → REPLACE X with [remove, Y]                MATCH
      - REPLACE X with Y → REMOVE X                          NO MATCH
      - REMOVE X → REMOVE X                                  MATCH
      - REPLAC X with [Y, Z] → REPLACE X with [Z, W]         MATCH
      - ADD Y to X → ADD  [Y, Z] to X                        MATCH
      - REPLACE (X+Y) with [X, Y, Z] → [REMOVE X, REMOVE Y]  MATCH

      Be conservative: if it is unclear whether one ablation allows the other ablation, do NOT match.

      The match can contain multiple ablations from either side, as long as the match meets the criteria above.
      For example, if an ablation in side A is split into two ablations in side B, but both of them together meet the matching criteria, then it is still considered a valid match.

      What You Need to Do:

      Create the file `/repo/final_score.jsonl` using the command `create_final_score` and then fill in the following fields for each entry:
      ```
      {"name_in_A": [ name of the ablation in side A OR a list of ablation names in side A OR null if there is no matching ablation for the ablation in side B ], "name_in_B": [ name of the matching ablation from side B OR a list of ablation names in side B OR null if there is no matching ablation for the ablation in side A ]}
      ```

      GENERAL IMPORTANT TIPS:

      1. The file should be initialized using the command `create_final_score`, after that you just need to edit it and fill in the the `name_in_B` or `name_in_A` (where applicable) field.

      2. The `name_in_A` and `name_in_B` should match exactly to the ablation names in side A and side B, respectively.

      3. You must go over ALL the ablations in side A and all ablations in side B, _each one of them should be in your prediction_.

      4. It is OK if one ablation from side A is split into multiple ablations in side B, or merged several side A ablations into one — as long as the matching criteria (per ablation in side A) are met, the match is still valid. This holds to the other direction as well (side B to side A).

      5. Please note that all information is in the following text and not in any file or directories in the environment, so you should base your decision only using the information below.

      6. Any operations on the environment besides creating the `/repo/final_score.jsonl` file and editing it are not necessary.


      STRATEGY:

      1. First call the `create_final_score` command to create the file.

      2. Then, for each ablation in side A, you should decide based on the criteria above if there is a valid match in side B, and vice versa.

      3. After that, you should have the information to fill in the `name_in_B` / `name_in_A` fields for each ablation in side A and side B, respectively. If the ablation is considered a match to one (or more) of the ablations in the other side, you should fill the appropriate ablation(s) in `name_in_B` / `name_in_A`, otherwise it should remain null.

      4. Submit your final score using the `submit` command.

      PLEASE NOTE THAT THE SUBMISSION FILE NEEDS TO BE INITIALIZED USING THE `create_final_score` COMMAND
      When you are done, run the `submit` command to confirm.
      You have access to the terminal session, so take your time and be precise.

      Here are the ablations in side A and side B:

      <ablations_in_A>
      {{side_A}}
      </ablations_in_A>

      <ablations_in_B>
      {{side_B}}
      </ablations_in_B>

      **Remember to include all the ablations in side A and side B in your predictions!**

      (Open file: {{open_file}})
      (Current directory: {{working_dir}})
      bash-$
    next_step_template: |-
      {{observation}}
      (Open file: {{open_file}})
      (Current directory: {{working_dir}})
      bash-$
    next_step_no_output_template: |-
      Your command ran successfully and did not produce any output.
      (Open file: {{open_file}})
      (Current directory: {{working_dir}})
      bash-$
    demonstration_template: |
      Here is a demonstration of how to correctly accomplish this task.
      It is included to show you how to correctly use the interface.
      You do not need to follow exactly what is done in the demonstration.
      --- DEMONSTRATION ---
      {{demonstration}}
      --- END OF DEMONSTRATION ---
    demonstrations:
    - /home/lab/abramot1/ablations-bench/config/sweagent/demos/HybrIK/HybrIK.demo.yaml
  tools:
    execution_timeout: 600
    total_execution_timeout: 3600
    env_variables:
      WINDOW: 100
      OVERLAP: 2
    bundles:
      - path: tools/registry
      - path: tools/defaults
      - path: tools/edit_linting
      - path: tools/ablation_submit
      - path: tools/ablation_review_suggestion
    enable_bash_tool: true
    parse_function:
      type: thought_action
    registry_variables:
      ABLATIONS_PLAN_PATH: /repo/final_score.jsonl
  history_processors:
    - type: last_n_observations
      n: 5
